<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="tick.png" alt="Welcome Tick" width="300" height="200"> <br>

    <h1>
        <a href="/newTasks">Add New Task</a>
        <a href="/newDeveloper">Add New Developer</a>
        <a href="/allDevelopers">Show All Developers</a>
        <a href="/listTasks">List All Tasks</a> 
        <a href="/deleteTasks">Delete Task</a>
        <a href="/updateTasks">Update Tasks</a> </br>
        <a href="/deleteOldComplete">Delete Completed Tasks</a>
        
    </h1>
</body>
</html>